{
    "active": true,
    "islanders": {
        "user_id_here": {
            "skills": {
                "laziness": 5,
                "impatience": 5,
                "hubris": 5
            },
            "action": {
                "start-time": "timestamp_here",
                "action": "action_id_here"
            }
            "inventory": {
                "size": 500,
                "items": {
                    "computer": 5,
                    "knowledge": 0,
                    "believed_knowledge": 1000,
                    "will_to_live": 0
                }
            }
        }
    }
}