{
    "active": true,
    "islanders": {
        "user_id_here": {
            "level": 4
            "experience": 0
            "skills": {
                "laziness": 5,
                "impatience": 5,
                "hubris": 5
            },
            "activity": {
                "start-time": "timestamp_here",
                "action": "action_id_here"
            }
            "inventory": {
                "slots": 8,
                "stack_size": "32",
                "items": [
                    ["computer", 5],
                    ["knowledge", 0],
                    ["believed_knowledge", 1000],
                    ["will_to_live", 0]
                ]
            }
        }
    }
}